In [158]:
import pandas as pd
import sklearn as sk

import numpy as np
import sys

from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
%matplotlib inline

In [467]:
train_x = pd.read_csv("./X.csv")
test_y = pd.read_csv("ans.csv")

In [468]:
# train_x
train_x["w_day"] = train_x["day"].apply(lambda x: x % 7)
train_x["w_num"] = train_x["day"].apply(lambda x: x / 7)
test_x = train_x[train_x["sum"] == -1]
train_x = train_x[train_x["sum"] != -1]

In [469]:
def get_validation_set(train_x):
    g = train_x.groupby("user")
    result = []
    for key in g.groups:
        result.append(g.groups[key][-1])
#     print result[:10]
    return train_x.loc[result]

In [470]:
def get_train_set(train_x):
    g = train_x.groupby("user")
    result = []
    for key in g.groups:
        result.append(g.groups[key][-1])
#         result += g.groups[key][-1:-3:-1]
#     print result
    return train_x.drop(result)

In [471]:
# tmp[tmp["user"] == 1]

In [472]:
valid_x = get_validation_set(train_x)

In [473]:
valid_y = valid_x["sum"].reset_index()

In [474]:
train_x = get_train_set(train_x)

In [475]:
def plot_specific(user, w_day):
    tmp = train_x[train_x["user"] == user][train_x["w_day"] == w_day]
    tmp = tmp[np.abs(tmp["sum"] - means[(user, w_day)]) < 2 * variance[user]]
    x = tmp["day"]
    y = tmp["sum"]
#     np.abs(y - means((user, w_day)))
#     y = y[]
   
    plt.plot(x, y)

In [476]:
first = train_x[train_x["user"] == 1]

In [477]:
def calc_budget(x, user):
    cur = 0.0
    result = []
    prev = None
    x = x[x["user"] == user]
#     print len(x)
    for idx, row in x.iterrows():
        if prev is None or row["w_day"] <= prev:
#             print idx, "prev is ", prev, " w_day = ", row["w_day"]
            result.append(cur)
            cur = 0.0
        prev = row["w_day"]
        cur += row["sum"]
#         print prev
        
    return result

In [478]:
# # first
# res = calc_budget(train_x, 8)
# # print res
# # print np.mean(res)
# plt.plot(res)
# # print variance[1]

In [479]:
# plot_specific(1, 1)

In [480]:
# plot_specific(1, 2)

In [481]:
# plot_specific(1, 3)

In [482]:
# plot_specific(1, 4)

In [483]:
# plot_specific(0, 5)

In [484]:
# plot_specific(0, 6)

In [485]:
# user_groups["sum"].hist()

In [486]:
# valid_y

In [487]:
groups = train_x.groupby(["user", "w_day"])

In [488]:
# groups.groups.keys()[0]
# def print_metrics(key):
#     print means_sparse[key]
#     print means[key]
#     print variance[key[0]]
#     print train_x.loc[groups.groups[key], "sum"].mean()
#     print train_x.loc[groups.groups[key], "sum"].max()
#     print train_x.loc[groups.groups[key], "sum"].min()
#     plt.plot(train_x.loc[groups.groups[key], "sum"])

In [489]:
# print_metrics((320, 6))

In [490]:
weak_groups = train_x.groupby(["user", "w_num"])

In [491]:
weak_means = {}
def get_weak_means(x):
    key = (x["user"].iloc[0], x["w_num"].iloc[0])
    m = x["sum"].mean()
    weak_means[key] = m
    sys.stdout.write("\r{0}".format(x["user"].iloc[0]))
    return m

In [492]:
# weak_groups.apply(get_weak_means)

In [493]:
# weak_groups[(1,1)]

In [494]:
lasts_dict = {}
def get_lasts(x):
#     print x
    
    key = (x["user"].iloc[0], x["w_day"].iloc[0])
    m = x["sum"].iloc[:5].mean()
    sys.stdout.write("\r{0} -> {1}".format(key, m))
    lasts_dict[key] = m
#     print m
#     raise ValueError()
    return m

In [495]:
# groups.apply(get_lasts);

In [496]:
user_groups  = train_x.groupby(["user"])

In [497]:
all_day_last = {}
def get_all_day_last(x):
    key = x["user"].iloc[0]
#     print key
    all_day_last[key] = x["sum"].iloc[:7].mean()
    sys.stdout.write("\r{0}".format(key))
    return 0.0

In [498]:
user_groups.apply(get_all_day_last);

82445

In [499]:
# all_day_last[3]

In [500]:
# print lasts_dict[(1, 0)]
# print means[(1, 0)]

In [501]:
# def get_lasts_dict(train_x, groups):
#     res = dict()
#     for key, items in groups.groups.iteritems():
#         sys.stdout.write("\r{0}".format(key))
# #         print items
#         res[key] = train_x.loc[items]["sum"].mean()
# #         print res[key]
# #         break
#     return res

In [502]:
variance = {}
means_user = {}
means_user_sparse = {}
def get_variance(x):
    key = x["user"].iloc[0]
#     print key
    cur = x["sum"]
    m = cur.mean()
    means_user[key] = m
    var = (((cur - m)**2).mean())**0.5
    sys.stdout.write("\r{0}".format(key))
    variance[key] = var
    means_user_sparse[key] = cur[np.abs(cur - m) < variance[key]].mean()
    return 0.0

In [503]:
user_groups.apply(get_variance);

82445

In [504]:
# from sklearn.neighbors import KernelDensity

In [505]:
# kde = KernelDensity()

In [506]:
# kde.fit(train_x.loc[:, "sum"])

In [507]:
# kde.mean()

In [508]:
# variance
def get_mean(x):
    key = x["user"].iloc[0]
    cur = x["sum"]
    m = cur.mean()
    
    sys.stdout.write("\r{0}".format(key))
    cur = cur[np.abs(cur - m) < 2 * variance[key]]
    m = cur.mean()
    
    if np.isnan(m) or len(cur) < 3:
        m = x["sum"].mean()
#     t_mean[key] = m
    return m

In [509]:
means_sparse = groups.apply(get_mean)
means = groups["sum"].mean()

82445

In [510]:
# len(means_user.keys())

In [511]:
all_day_last[2]

535.85714285714289

In [512]:
g_mean = {}
l_mean = {}
t_mean = {}

def get_av_lmean(x):
    key = x["user"].iloc[0]
    cur = x["sum"]
    m = cur.mean()
    cur = cur[np.abs(cur - m) < 2 * variance[key]]
    
    l = cur[cur < m].mean()
    g = cur[cur >= m].mean()
    sys.stdout.write("\r{0}".format(key))
    if len(cur) < 3:
        g = x["sum"].mean()
        l = x["sum"].mean()
        m = x["sum"].mean()
        
    g_mean[key] = g
    l_mean[key] = l
    t_mean[key] = m
    
    return 0.0

In [513]:
user_groups.apply(get_av_lmean);

82445

In [514]:
# l_mean

In [527]:
def mean_getter(x):
    sys.stdout.write("\r{0}".format(x["user"]))
    key = (x["user"], x["w_day"])
    user = x["user"]
    week = x["w_num"]
#     print user
    mean = means_sparse.get(key, means_user[x["user"]])
#     mean = means.get(key, means_user[x["user"]])
    last_m = all_day_last.get(user, mean)
    week_1 = weak_means.get((user, week - 1), mean)
    week_2 = weak_means.get((user, week - 2), mean)
    week_3 = weak_means.get((user, week - 3), mean)
    week_4 = weak_means.get((user, week - 4), mean)
    week_5 = weak_means.get((user, week - 5), mean)
    week_m = (week_1 + week_2 + week_3 + week_4 + week_5)/5
#     print valid_x[valid_x["user"] == x["user"]]["sum"].shape
#     print 
#     last_m = train_x.loc[user_groups.groups[user][-1:-7:-1]].mean()
    
#     print last
#     if last["sum"] < mean:
#         mean = (mean + g_mean[x["user"]])/2
#     else:
#         mean = (mean + l_mean[x["user"]])/2
#     last = lasts_dict.get(key, 0.0)
#     median = medians.get(key, 0.0)
#     day_last = all_day_last.get(x["user"], 0.0)
    return  mean
#     return  mean * 1.0
#     return  last_m * 1.0

In [528]:
def validate(valid_x, valid_y):
    l = predict(valid_x)
    print "\r", np.abs(valid_y["sum"] - l).mean()

In [529]:
def predict(df):
    return df.apply(mean_getter , axis = 1).reset_index()[0]

In [530]:
res = predict(test_x)

82445

In [531]:
# res

In [532]:
validate(valid_x, valid_y)

251.746692007

In [533]:
ans = test_y.copy()

In [534]:
ans["sum"] = res

In [535]:
# res
# prev_ans
# ans
# ans.loc[1953]
# l_mean[1]
# means_sparse[1]

In [536]:
ans.to_csv("result.csv", index=False)
(np.isnan(res)).value_counts()

False    82445
dtype: int64

In [525]:
# ?prev_ans = pd.read_csv("result.csv")
# prev_ans = ans

In [418]:
# (ans - prev_ans)["sum"].abs().mean()

In [419]:
# (ans - prev_ans)["sum"]

In [420]:
ans

        user          sum
0          1   411.833333
1          2   144.571429
2          3   660.666667
3          4   514.000000
4          5   334.083333
5          6   558.500000
6          7   673.222222
7          8   376.783333
8          9   411.833333
9         10   571.500000
10        11   545.590909
11        12   291.500000
12        13   429.500000
13        14   945.055556
14        15   197.500000
15        16   292.416667
16        17  1535.000000
17        18   710.027027
18        19   669.300000
19        20  1029.500000
20        21   392.000000
21        22   108.000000
22        23   641.375000
23        24   202.500000
24        25   287.750000
25        26   865.500000
26        27   568.500000
27        28   349.000000
28        29   110.428571
29        30   455.666667
...      ...          ...
82415  82416   508.333333
82416  82417   228.500000
82417  82418   323.333333
82418  82419   558.375000
82419  82420   207.500000
82420  82421   903.666667
82421  82422   389.937500
82422  82423   141.416667
82423  82424   417.250000
82424  82425   793.104651
82425  82426   661.250000
82426  82427   309.000000
82427  82428   533.446429
82428  82429   560.500000
82429  82430   491.250000
82430  82431   212.250000
82431  82432   419.730769
82432  82433   340.750000
82433  82434   392.125000
82434  82435   307.750000
82435  82436   663.500000
82436  82437   313.500000
82437  82438   621.090000
82438  82439  1107.095238
82439  82440   148.000000
82440  82441   421.923077
82441  82442   429.000000
82442  82443   330.000000
82443  82444   645.000000
82444  82445   973.785714

[82445 rows x 2 columns]

In [476]:
# prev_ans